In [1]:
import pandas as pd

In [22]:
pd.options.display.float_format = '{:.2f}'.format

In [23]:
export_2016 = pd.read_excel('WITS_Russia_export_2016.xlsx', sheet_name='Partner')
export_2017 = pd.read_excel('WITS_Russia_export_2017.xlsx', sheet_name='Partner')

In [50]:
export_2016.index

RangeIndex(start=0, stop=232, step=1)

In [24]:
export = pd.concat([export_2016, export_2017])

In [25]:
export.sample(10)

,Reporter Name,Partner Name,Year,Trade Flow,No Of exported HS6 digit Products,Export Share in Total Products (%),Export (US$ Thousand),Export Partner Share (%)
11,Russian Federation,Fr. So. Ant. Tr,2017,Export,nan,nan,nan,nan
152,Russian Federation,Norway,2017,Export,472.00,10.82,776197.20,0.22
179,Russian Federation,Singapore,2017,Export,524.00,12.01,3290000.81,0.92
190,Russian Federation,Sudan,2017,Export,376.00,8.62,345631.87,0.10
37,Russian Federation,Cocos (Keeling) Islands,2016,Export,nan,nan,nan,nan
167,Russian Federation,Portugal,2017,Export,150.00,3.44,963230.51,0.27
55,Russian Federation,Germany,2016,Export,1917.00,44.07,21258480.74,7.45
12,Russian Federation,Austria,2016,Export,544.00,12.51,1051945.76,0.37
34,Russian Federation,Botswana,2017,Export,4.00,0.09,18190.97,0.01
3,Russian Federation,Anguila,2017,Export,nan,nan,nan,nan

In [26]:
export.pivot_table(index=['Year'], values='Export (US$ Thousand)', aggfunc='sum')

      Export (US$ Thousand)
Year
2016           853198459.92
2017          1019648089.87

In [28]:
export.pivot_table(index=['Year', 'Partner Name'], values='Export (US$ Thousand)', aggfunc='sum')

                                     Export (US$ Thousand)
Year Partner Name
2016  World                                   285491052.01
     Afghanistan                                 184160.51
     Albania                                      57932.40
     Algeria                                    3966280.51
     American Samoa                                   0.00
     Andorra                                       2363.46
     Angola                                      567915.73
     Antigua and Barbuda                              6.11
     Argentina                                   163004.04
     Armenia                                     957253.23
     Aruba                                        21610.42
     Australia                                    64478.21
     Austria                                    1051945.76
     Azerbaijan                                 1508064.66
     Bahamas, The                                   388.68
     Bahrain                                      47316.74
     Bangladesh                                  767226.15
     Barbados                                         0.06
     Belarus                                   14050696.99
     Belgium                                    5741057.18
     Belize                                        1648.60
     Benin                                         1666.40
     Bermuda                                          0.12
     Bhutan                                           0.33
     Bolivia                                       2448.09
     Bonaire                                      45718.39
     Bosnia and Herzegovina                       57901.24
     Botswana                                     21248.74
     Bouvet Island                                    0.00
     Brazil                                     1785571.08
...                                                    ...
2017 Swaziland                                        0.00
     Sweden                                     1831519.76
     Switzerland                                3786160.15
     Syrian Arab Republic                        187411.23
     Tajikistan                                  686895.72
     Tanzania                                    149831.19
     Thailand                                    508781.45
     Togo                                         56573.93
     Tokelau                                          0.00
     Trinidad and Tobago                         729250.24
     Tunisia                                     374960.46
     Turkey                                    12929905.76
     Turkmenistan                                343177.27
     Turks and Caicos Isl.                            0.00
     Tuvalu                                           0.00
     Uganda                                       62835.21
     Ukraine                                    7940787.71
     United Arab Emirates                       1367681.26
     United Kingdom                             5645826.44
     United States                              9884699.88
     United States Minor Outlying I                   0.00
     Unspecified                               53485247.85
     Uruguay                                      30413.12
     Uzbekistan                                 2618172.29
     Vanuatu                                          9.50
     Venezuela                                    67589.62
     Vietnam                                    1239883.87
     Yemen                                       304068.16
     Zambia                                         334.19
     Zimbabwe                                      2482.23

[464 rows x 1 columns]

In [33]:
export.pivot_table(index=['Year', 'Partner Name'], values='Export (US$ Thousand)', aggfunc='sum')\
.sort_values('Export (US$ Thousand)', ascending=False)

                                     Export (US$ Thousand)
Year Partner Name
2017  World                                   359151975.20
2016  World                                   285491052.01
2017 Europe & Central Asia                    189883624.36
2016 Europe & Central Asia                    185198488.33
2017 East Asia & Pacific                       69093486.13
2016 East Asia & Pacific                       54840276.37
2017 Unspecified                               53485247.85
     China                                     37524518.66
     Netherlands                               34629771.93
2016 Netherlands                               29254623.87
     China                                     28021250.17
     Germany                                   21258480.74
     Middle East & North Africa                18442605.73
2017 Middle East & North Africa                17112980.80
     Belarus                                   15537356.77
     Germany                                   15490522.70
2016 Belarus                                   14050696.99
     Turkey                                    13698261.43
2017 Turkey                                    12929905.76
     Korea, Rep.                               12100984.51
2016 Italy                                     11931332.88
2017 Kazakhstan                                11924244.44
     Poland                                    10570013.23
     North America                             10507080.81
     Japan                                     10500218.13
2016 Korea, Rep.                               10027147.25
2017 United States                              9884699.88
2016 North America                              9845390.05
2017 Italy                                      9805473.93
2016 Kazakhstan                                 9426891.45
...                                                    ...
     Pitcairn                                         0.00
2017 Anguila                                          0.00
     Barbados                                         0.00
2016 Solomon Islands                                  0.00
2017 Russian Federation                               0.00
     Bouvet Island                                    0.00
     Saint Helena                                     0.00
     Saint Maarten (Dutch part)                       0.00
2016 East Timor                                       0.00
2017 Niue                                             0.00
2016 Eritrea                                          0.00
     Saint Helena                                     0.00
     Comoros                                          0.00
     Cocos (Keeling) Islands                          0.00
     St. Kitts and Nevis                              0.00
2017 Nauru                                            0.00
2016 Christmas Island                                 0.00
     Fr. So. Ant. Tr                                  0.00
2017 Montserrat                                       0.00
     Solomon Islands                                  0.00
2016 Saint Barthélemy                                 0.00
2017 Christmas Island                                 0.00
     South Georgia and the South Sa                   0.00
     Cocos (Keeling) Islands                          0.00
     Comoros                                          0.00
     Antigua and Barbuda                              0.00
2016 Grenada                                          0.00
2017 Antarctica                                       0.00
     St. Vincent and the Grenadines                   0.00
2016 Kiribati                                         0.00

[464 rows x 1 columns]

In [42]:
export_filtered = export[export['Partner Name'] != 'Europe & Central Asia']
export_filtered.pivot_table(index=['Year', 'Partner Name'],
    values='Export (US$ Thousand)', aggfunc='sum')\
    .sort_values('Export (US$ Thousand)', ascending=False)

                                     Export (US$ Thousand)
Year Partner Name
2017  World                                   359151975.20
2016  World                                   285491052.01
2017 East Asia & Pacific                       69093486.13
2016 East Asia & Pacific                       54840276.37
2017 Unspecified                               53485247.85
     China                                     37524518.66
     Netherlands                               34629771.93
2016 Netherlands                               29254623.87
     China                                     28021250.17
     Germany                                   21258480.74
     Middle East & North Africa                18442605.73
2017 Middle East & North Africa                17112980.80
     Belarus                                   15537356.77
     Germany                                   15490522.70
2016 Belarus                                   14050696.99
     Turkey                                    13698261.43
2017 Turkey                                    12929905.76
     Korea, Rep.                               12100984.51
2016 Italy                                     11931332.88
2017 Kazakhstan                                11924244.44
     Poland                                    10570013.23
     North America                             10507080.81
     Japan                                     10500218.13
2016 Korea, Rep.                               10027147.25
2017 United States                              9884699.88
2016 North America                              9845390.05
2017 Italy                                      9805473.93
2016 Kazakhstan                                 9426891.45
     United States                              9425801.96
     Japan                                      9384191.78
...                                                    ...
2017 Cook Islands                                     0.00
2016 Grenada                                          0.00
2017 Pitcairn                                         0.00
2016 Solomon Islands                                  0.00
2017 Russian Federation                               0.00
     Bouvet Island                                    0.00
     Saint Helena                                     0.00
     Saint Maarten (Dutch part)                       0.00
2016 East Timor                                       0.00
2017 Niue                                             0.00
2016 Eritrea                                          0.00
     Saint Helena                                     0.00
     Comoros                                          0.00
     Cocos (Keeling) Islands                          0.00
     St. Kitts and Nevis                              0.00
     Saint Barthélemy                                 0.00
     Christmas Island                                 0.00
2017 Nauru                                            0.00
2016 Fr. So. Ant. Tr                                  0.00
2017 Solomon Islands                                  0.00
     Montserrat                                       0.00
     Antigua and Barbuda                              0.00
     South Georgia and the South Sa                   0.00
     Christmas Island                                 0.00
     Cocos (Keeling) Islands                          0.00
     Antarctica                                       0.00
2016 Pitcairn                                         0.00
2017 Anguila                                          0.00
     St. Vincent and the Grenadines                   0.00
2016 Kiribati                                         0.00

[462 rows x 1 columns]

In [47]:
exclude = ['East Asia & Pacific', 'Europe & Central Asia', ' World', 'Unspecified', 'Middle East & North Africa']
export_filtered = export[-export['Partner Name'].isin(exclude)]
export_filtered.pivot_table(index=['Year', 'Partner Name'],
    values='Export (US$ Thousand)', aggfunc='sum')\
    .sort_values('Export (US$ Thousand)', ascending=False)

                                     Export (US$ Thousand)
Year Partner Name
2017 China                                     37524518.66
     Netherlands                               34629771.93
2016 Netherlands                               29254623.87
     China                                     28021250.17
     Germany                                   21258480.74
2017 Belarus                                   15537356.77
     Germany                                   15490522.70
2016 Belarus                                   14050696.99
     Turkey                                    13698261.43
2017 Turkey                                    12929905.76
     Korea, Rep.                               12100984.51
2016 Italy                                     11931332.88
2017 Kazakhstan                                11924244.44
     Poland                                    10570013.23
     North America                             10507080.81
     Japan                                     10500218.13
2016 Korea, Rep.                               10027147.25
2017 United States                              9884699.88
2016 North America                              9845390.05
2017 Italy                                      9805473.93
2016 Kazakhstan                                 9426891.45
     United States                              9425801.96
     Japan                                      9384191.78
     Poland                                     9098660.07
2017 Finland                                    8148477.02
     Ukraine                                    7940787.71
2016 United Kingdom                             6996918.18
2017 Belgium                                    6799459.02
     South Asia                                 6618988.80
2016 Finland                                    6535275.15
...                                                    ...
     Vanuatu                                          0.00
2017 Cocos (Keeling) Islands                          0.00
     Christmas Island                                 0.00
2016 East Timor                                       0.00
2017 Antarctica                                       0.00
2016 British Indian Ocean Ter.                        0.00
2017 Niue                                             0.00
     Antigua and Barbuda                              0.00
2016 Nauru                                            0.00
     Montserrat                                       0.00
2017 Montserrat                                       0.00
     Barbados                                         0.00
     Pitcairn                                         0.00
2016 United States Minor Outlying I                   0.00
2017 Comoros                                          0.00
     Cook Islands                                     0.00
     Russian Federation                               0.00
2016 Niue                                             0.00
2017 Saint Helena                                     0.00
     Saint Maarten (Dutch part)                       0.00
     Lesotho                                          0.00
2016 Eritrea                                          0.00
     Turks and Caicos Isl.                            0.00
     Tonga                                            0.00
     Tokelau                                          0.00
2017 Nauru                                            0.00
2016 Pitcairn                                         0.00
2017 South Georgia and the South Sa                   0.00
2016 Fr. So. Ant. Tr                                  0.00
     Comoros                                          0.00

[454 rows x 1 columns]

In [49]:
export_pivot = export_filtered.pivot_table(index=['Year', 'Partner Name'], 
                values='Export (US$ Thousand)', aggfunc='sum')\
            .sort_values(['Year', 'Export (US$ Thousand)'],ascending=[True, False])

                                     Export (US$ Thousand)
Year Partner Name
2016 Netherlands                               29254623.87
     China                                     28021250.17
     Germany                                   21258480.74
     Belarus                                   14050696.99
     Turkey                                    13698261.43
     Italy                                     11931332.88
     Korea, Rep.                               10027147.25
     North America                              9845390.05
     Kazakhstan                                 9426891.45
     United States                              9425801.96
     Japan                                      9384191.78
     Poland                                     9098660.07
     United Kingdom                             6996918.18
     Finland                                    6535275.15
     South Asia                                 6482061.04
     Ukraine                                    6280263.25
     Belgium                                    5741057.18
     India                                      5312787.26
     Latin America & Caribbean                  5178122.36
     France                                     4851303.04
     Latvia                                     4844183.24
     Algeria                                    3966280.51
     Egypt, Arab Rep.                           3782803.97
     Switzerland                                3109872.58
     Other Asia, nes                            2703290.01
     Czech Republic                             2693520.54
     Greece                                     2660766.40
     Hungary                                    2649926.41
     Lithuania                                  2508883.82
     Slovak Republic                            2497036.55
...                                                    ...
2017 Anguila                                          0.00
     Antarctica                                       0.00
     Antigua and Barbuda                              0.00
     Barbados                                         0.00
     Bouvet Island                                    0.00
     Christmas Island                                 0.00
     Cocos (Keeling) Islands                          0.00
     Comoros                                          0.00
     Cook Islands                                     0.00
     East Timor                                       0.00
     Fr. So. Ant. Tr                                  0.00
     French Polynesia                                 0.00
     Holy See                                         0.00
     Kiribati                                         0.00
     Lesotho                                          0.00
     Montserrat                                       0.00
     Nauru                                            0.00
     Niue                                             0.00
     Pitcairn                                         0.00
     Russian Federation                               0.00
     Saint Helena                                     0.00
     Saint Maarten (Dutch part)                       0.00
     Solomon Islands                                  0.00
     South Georgia and the South Sa                   0.00
     St. Vincent and the Grenadines                   0.00
     Swaziland                                        0.00
     Tokelau                                          0.00
     Turks and Caicos Isl.                            0.00
     Tuvalu                                           0.00
     United States Minor Outlying I                   0.00

[454 rows x 1 columns]

In [52]:
export_pivot.index

MultiIndex(levels=[[2016, 2017], ['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra', 'Angola', 'Anguila', 'Antarctica', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas, The', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia', 'Bonaire', 'Bosnia and Herzegovina', 'Botswana', 'Bouvet Island', 'Brazil', 'British Indian Ocean Ter.', 'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Cayman Islands', 'Central African Republic', 'Chad', 'Chile', 'China', 'Christmas Island', 'Cocos (Keeling) Islands', 'Colombia', 'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.', 'Cook Islands', 'Costa Rica', 'Cote d'Ivoire', 'Croatia', 'Cuba', 'Curaçao', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor', 'Ecuador', 'Egypt, Arab Rep.', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia(excludes Eritrea)', 'Faeroe Islands', 'Falkland Island', 'Fiji', 'Finland', 'Fr. So. Ant. Tr', 'France', 'French Polynesia', 'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada', 'Guam', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Holy See', 'Honduras', 'Hong Kong, China', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran, Islamic Rep.', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, Dem. Rep.', 'Korea, Rep.', 'Kuwait', 'Kyrgyz Republic', 'Lao PDR', 'Latin America & Caribbean', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Macao', 'Macedonia, FYR', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Moldova', 'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'North America', 'Northern Mariana Islands', 'Norway', 'Occ.Pal.Terr', 'Oman', 'Other Asia, nes', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Pitcairn', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russian Federation', 'Rwanda', 'Saint Barthélemy', 'Saint Helena', 'Saint Maarten (Dutch part)', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia, FR(Serbia/Montenegro)', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovak Republic', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South Asia', 'South Georgia and the South Sa', 'South Sudan', 'Spain', 'Sri Lanka', 'St. Kitts and Nevis', 'St. Lucia', 'St. Vincent and the Grenadines', 'Sub-Saharan Africa', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syrian Arab Republic', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tokelau', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Turks and Caicos Isl.', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'United States Minor Outlying I', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam', 'Western Sahara', 'Yemen', 'Zambia', 'Zimbabwe']],
           codes=[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], [147, 45, 82, 19, 214, 105, 113, 154, 109, 222, 107, 168, 221, 75, 191, 219, 20, 99, 117, 77, 118, 2, 66, 204, 159, 59, 85, 97, 123, 186, 34, 199, 203, 132, 70, 225, 194, 101, 171, 185, 30, 14, 104, 60, 228, 136, 13, 115, 129, 220, 10, 102, 137, 138, 81, 182, 17, 156, 212, 141, 96, 206, 169, 208, 55, 215, 5, 119, 114, 39, 100, 152, 213, 180, 227, 103, 58, 143, 200, 84, 56, 165, 48, 83, 190, 71, 65, 0, 187, 205, 9, 108, 230, 166, 160, 110, 158, 195, 207, 149, 181, 122, 112, 54, 12, 1, 27, 61, 126, 16, 38, 26, 72, 44, 124, 142, 89, 224, 163, 98, 53, 63, 218, 32, 150, 170, 134, 209, 144, 139, 50, 11, 28, 95, 131, 116, 162, 173, 164, 128, 90, 41, 232, 51, 37, 67, 35, 36, 135, 183, 93, 146, 148, 80, 25, 4, 184, 157, 127, 201, 22, 21, 74, 106, 121, 68, 40, 42, 189, 79, 193, 92, 198, 231, 130, 133, 62, 15, 43, 151, 33, 57, 91, 125, 120, 178, 176, 73, 88, 86, 155, 197, 179, 8, 52, 161, 78, 229, 24, 23, 18, 94, 3, 29, 31, 46, 47, 49, 64, 69, 76, 87, 111, 140, 145, 153, 167, 174, 175, 188, 196, 202, 210, 211, 216, 223, 226, 45, 147, 19, 82, 214, 113, 109, 168, 154, 107, 222, 105, 75, 219, 20, 191, 117, 221, 99, 118, 66, 204, 159, 185, 77, 85, 59, 225, 60, 186, 123, 132, 97, 34, 194, 171, 30, 199, 2, 203, 70, 104, 14, 136, 115, 220, 138, 101, 228, 169, 10, 141, 156, 100, 180, 55, 212, 114, 81, 206, 96, 17, 119, 39, 129, 84, 182, 208, 48, 137, 152, 213, 200, 215, 103, 230, 58, 56, 165, 160, 102, 181, 187, 13, 65, 9, 0, 190, 166, 205, 110, 207, 122, 83, 108, 12, 5, 158, 195, 149, 44, 112, 1, 142, 227, 218, 38, 71, 209, 143, 54, 170, 89, 126, 27, 150, 63, 197, 224, 53, 95, 26, 51, 164, 41, 131, 173, 32, 162, 28, 50, 90, 35, 61, 67, 134, 98, 72, 124, 146, 139, 22, 128, 93, 116, 183, 4, 36, 16, 25, 37, 135, 15, 23, 106, 40, 11, 69, 157, 232, 42, 201, 127, 73, 151, 184, 144, 92, 79, 43, 21, 74, 163, 189, 68, 3, 130, 121, 193, 177, 62, 148, 231, 133, 80, 196, 87, 33, 91, 57, 125, 178, 86, 226, 179, 31, 161, 6, 7, 8, 18, 29, 46, 47, 49, 52, 64, 76, 78, 94, 111, 120, 140, 145, 153, 167, 172, 175, 176, 188, 192, 198, 202, 210, 216, 217, 223]],
           names=['Year', 'Partner Name'])

In [53]:
export_pivot[export_pivot.index.get_level_values('Year') == 2016]

                                     Export (US$ Thousand)
Year Partner Name
2016 Netherlands                               29254623.87
     China                                     28021250.17
     Germany                                   21258480.74
     Belarus                                   14050696.99
     Turkey                                    13698261.43
     Italy                                     11931332.88
     Korea, Rep.                               10027147.25
     North America                              9845390.05
     Kazakhstan                                 9426891.45
     United States                              9425801.96
     Japan                                      9384191.78
     Poland                                     9098660.07
     United Kingdom                             6996918.18
     Finland                                    6535275.15
     South Asia                                 6482061.04
     Ukraine                                    6280263.25
     Belgium                                    5741057.18
     India                                      5312787.26
     Latin America & Caribbean                  5178122.36
     France                                     4851303.04
     Latvia                                     4844183.24
     Algeria                                    3966280.51
     Egypt, Arab Rep.                           3782803.97
     Switzerland                                3109872.58
     Other Asia, nes                            2703290.01
     Czech Republic                             2693520.54
     Greece                                     2660766.40
     Hungary                                    2649926.41
     Lithuania                                  2508883.82
     Slovak Republic                            2497036.55
...                                                    ...
     Western Sahara                                   0.87
     Bhutan                                           0.33
     Bermuda                                          0.12
     Barbados                                         0.06
     Holy See                                         0.06
     American Samoa                                   0.00
     Bouvet Island                                    0.00
     British Indian Ocean Ter.                        0.00
     Christmas Island                                 0.00
     Cocos (Keeling) Islands                          0.00
     Comoros                                          0.00
     East Timor                                       0.00
     Eritrea                                          0.00
     Fr. So. Ant. Tr                                  0.00
     Grenada                                          0.00
     Kiribati                                         0.00
     Montserrat                                       0.00
     Nauru                                            0.00
     Niue                                             0.00
     Pitcairn                                         0.00
     Saint Barthélemy                                 0.00
     Saint Helena                                     0.00
     Solomon Islands                                  0.00
     St. Kitts and Nevis                              0.00
     Swaziland                                        0.00
     Tokelau                                          0.00
     Tonga                                            0.00
     Turks and Caicos Isl.                            0.00
     United States Minor Outlying I                   0.00
     Vanuatu                                          0.00

[227 rows x 1 columns]

In [54]:
export_pivot.index.get_level_values('Year')

Int64Index([2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016,
            ...
            2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017],
           dtype='int64', name='Year', length=454)

In [55]:
export_pivot.index.get_level_values('Year') == 2016

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False])